@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    /*background: linear-gradient(to right, #3494e6, #ec6ead);*/
    background: linear-gradient(to right, #3494e6, #ec6ead);
}

p {
    max-width: auto;
    /* Set a maximum width for better readability */
    font-size: 1.5rem;
    /* Adjust the font size */
    line-height: 1.6;
    /* Set a comfortable line height */
    margin-left: 3rem;
    margin-right: 3rem;
    /* Add some margin for spacing */
    padding: 1rem;
    /* Add padding for a container-like effect */
    border-radius: 0.5rem;
    /* Rounded corners for a stylish look */
    background: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    /* Add a subtle box shadow */
}
h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 0.25rem;
}

#rit {
    position: absolute;
    top: 15px;
    right: 95px;
}

#linkedin {
    position: absolute;
    top: 15px;
    right: 130px;
}

#github {
    position: absolute;
    top: 15px;
    right: 60px;
}

#gmail {
    position: absolute;
    top: 15px;
    right: 25px;
}

input[type="image"]:hover {
    cursor: pointer;
}

input[type="image"]:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    opacity: 0.85;
}

#info {
    position: absolute;
    top: 13px;
    right: 170px;
    font-size: 24px;
}

#home, #aboutme, #coursework, #projects, #location {
    font-family: 'Poppins';
    color: white;
    /*margin-left: 85px;*/
    text-decoration: none;
    font-size: 1.5rem;
}

.navigation {
    text-align: center;
    word-spacing: 10rem;
}