@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: linear-gradient(to right, #3494e6, #ec6ead);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    opacity: 0.85;
}

.popup {
    font-family: 'Poppins';
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.emailpopup {
    color: #3494e6;
    text-decoration: underline;
}

#one {
    color: white;
    font-size: 6rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 0.25rem;
}

#two {
    color: white;
    font-size: 6rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.25rem;
}

.software {
    color: black;
}

.engineer {
    color: black;
    /*-webkit-text-fill-color: transparent;*/
    /* Will override color (regardless of order) */
    /*-webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: black;
    rgb(50, 53, 54);*/
}

#home,#aboutme, #coursework, #projects, #location, #contact {
    font-family: 'Poppins';
    color: white;
    /*margin-left: 85px;*/
    text-decoration: none; /*might not need this*/
    font-size: 1.5rem;
    
    /*for animation line*/
    text-decoration: underline 0.125em rgba(0, 0, 0, 0);
    transition: text-decoration-color 250ms ease-in-out;
}

/*#home::after{
    content: "";
    position: fixed;
    left: 12.5%;
    bottom: 14.5rem;
    height: 0.25rem;
    width: 0%;
    background-color: white;
    transition: all ease 0.5s;
    transform-origin: left;
}
s
#home:hover::after{
    width: 5%;
}*/

#home:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

#aboutme:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

#coursework:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

#projects:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

#location:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

#contact:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    opacity: 0.65;
}

@media (max-width: 1200px) {

    #home,
    #aboutme,
    #coursework,
    #projects,
    #location {
        font-size: 1.5rem;
        /* Adjust font size for smaller screens */
        display: block;
        /* Ensure each link is on a new line */
        margin-bottom: 1rem;
        /* Add spacing between links */
    }

    #one,
    #two {
        font-size: 14vw;
        letter-spacing: 0.15rem;
        
    }

    #coop, #year{
        font-size: 3vw;
    }

    /*#home::after{
        content: "";
        position: absolute;
        left: 42.5%;
        margin-bottom: 0.8rem;
        bottom: 16rem;
        height: 0.25rem;
        width: 0%;
        background-color: white;
        transition: all ease 0.5s;
        transform-origin: left;
        text-align: center;
    }
    
    #home:hover::after{
        width: 15%;
    }*/
}

#info {
    position: absolute;
    top: 9px;
    right: 165px;
    font-size: 28px;
}

input[type="image"]:hover {
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

input[type="image"]:hover {
    opacity: 0.85;
    /* Reduce opacity on hover */
}

#rit {
    position: absolute;
    top: 15px;
    right: 95px;
}

#linkedin {
    position: absolute;
    top: 15px;
    right: 130px;
}

#github {
    position: absolute;
    top: 15px;
    right: 60px;
}

#gmail {
    position: absolute;
    top: 15px;
    right: 25px;
}

.navigation {
    text-align: center;
    word-spacing: 6rem;
}

#coop {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0.25rem;
}

#year {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 2.25rem;
    left: 2.5rem;
}
