@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: linear-gradient(to right, #3494e6, #ec6ead);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    opacity: 0.85;
}

#one {
    color: white;
    font-size: 6rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 0.25rem;
}

#two {
    color: white;
    font-size: 6rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.25rem;
}

.software {
    color: black;
}

.engineer {
    color: black;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: black;/*rgb(50, 53, 54);*/
}

#home, #aboutme, #coursework, #projects, #location {
    font-family: 'Poppins';
    color: white;
    /*margin-left: 85px;*/
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    #home,
    #aboutme,
    #coursework,
    #projects,
    #location {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        display: block; /* Ensure each link is on a new line */
        margin-bottom: 1rem; /* Add spacing between links */
    }

    #one, #two{
        font-size: 3rem;
    }
}

#info {
    position: absolute;
    top: 9px;
    right: 165px;
    font-size: 28px;
}

input[type="image"]:hover {
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

input[type="image"]:hover {
    opacity: 0.85;
    /* Reduce opacity on hover */
}

#rit {
    position: absolute;
    top: 15px;
    right: 95px;
}

#linkedin {
    position: absolute;
    top: 15px;
    right: 130px;
}

#github {
    position: absolute;
    top: 15px;
    right: 60px;
}

#gmail {
    position: absolute;
    top: 15px;
    right: 25px;
}

.navigation {
    text-align: center;
    word-spacing: 10rem;
}

#coop {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 1rem;
}

#year {
    text-align: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 3rem;
    left: 2.5rem;
}